-f https://download.pytorch.org/whl/torch_stable.html
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
pandas
Flask>=1.1.2
gunicorn>=20.1.0
Werkzeug
timm
libgl1-mesa-glx
requests


